.parent p{
        font-family: cursive;
        font-size: 40px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        text-decoration:line-through;
 
      }
p:hover{
        color:aquamarine;
        /* background-color:blueviolet; */
      }
.select{
    color: blue;
}  
#order{
    color: aqua;
     background-color: burlywood; 
}
/* p{  */
    /* background-color: darksalmon;  */
/* } */
.border{
    border: 2px solid brown;
    padding: 20px;
}
.margin{
    border: 3px solid aquamarine;
    margin-top: 70px;
    padding: 10px  50px;
}
.relative{
    position:absolute;
    top:40px;
    left: 80px;
}
.position{
    border: 5px solid red;
}
.page{
    height: 100vh
}
.fixed{
    position: fixed;
    left :150px
}.sticky{
    position: sticky;
    top: 10px;
    left: 120px;
}

.inline{
    display: inline-block ;
}
 .flex-container{
     display:flex; 
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* background-color: aqua;
    border: 2px solid brown; */
    justify-content: space-around;
    align-items: first baseline;
    height: 100vh;
} 


/* .flex-container div{
    background-color: gold;
    border: 2px solid brown;
    height: 100px;
    width: 100px;
} */
.three{
    flex-grow: 0;
}
.four{
    flex-grow: 0;
}
.nav{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style: none;
}
.grid-container{
    display:grid;
    grid-template: 50px 50px / 50px 50px 50px;
    /* row-gap: 20px; 
    column-gap: 30px;*/
} 
.grid-container div{
    border: 2px solid greenyellow;
}
.one{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}
@media(max-width:468px){
    .nav{
        display:flex;
        flex-direction: column;
        color: rgb(215, 118, 181);
    }
}